 
.navbar-nav {
 margin-left: 250px;
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
    z-index:9999;


}



a {
    text-decoration: none !important;
    transition: none !important;
}


.fa-user {
    margin-right: 5px !important;
    font-size: 14px;
    
}

.fa-shopping-cart {
    margin-right: 5px !important;
    font-size: 14px;
}


.defaultbutton a {
    padding: 10px 16px !important;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    transition: all 0.5s ease;
    font-weight: bold;
}

.defaultbutton a:hover {
    border: 2px solid white;



    
}

div.dropdown-menu{
    margin-top: 18px;
    background-color: #343a40 !important;

}

.dropdown:hover>div.dropdown-menu {
    display: block;
}

.dropdown-menu a {
    font-size: 12px;
    margin-left: 0px;
    border-radius: 5px;
    color: white;
}


.dropdown-item:hover {
    background-color: transparent !important;
}


.wbutton {
    border: 2px solid white !important;
    border-radius: 5px  !important;
    font-size: 13px  !important;
    font-weight: 600  !important;
    padding: 2px 10px !important;
    
}

.dropbutton {
    border: 2px solid white  !important;
}

.wbutton a {
    color: white !important;
    font-weight: bold;
}

.wbutton a:hover {
    color: white !important;
    
    
}

.fa-truck,.fa-gift,.fa-headset,.fa-cc-visa {
    font-size: 40px;
    margin-bottom: 10px;


}

.fa-truck {
    color: blue;
}

.fa-gift {
    color: coral;
}
.fa-headset {
    color: red;
}

.fa-cc-visa {
    color: green;
}


.offercard {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
     
}

.offer1, .offer2, .offer3, .offer4 {
    box-shadow: 4px 4px 10px;
    margin: 5px 0px !important;
    padding: 10px 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px ;
    width: 250px;




    /* width: 300px;
    height: 50px;
    background-color: white;
    color:  #343a40;
    box-shadow: 10px 10px 10px gray;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 50px; */

}

.offer1 > div > h5,
.offer2 > div > h5,
.offer3 > div > h5 {
    font-size: 15px;
    font-weight: bold;
}

.offer1:hover h5 {
    color: blue;
}

.offer2:hover h5 {
    color: coral;
}

.offer3:hover h5 {
    color: red;
}

.offer4:hover h5 {
    color: green;
}

.latestDevices,.usedDevices,.Accessories,.login-register,.cart {
    margin-top: 80px;
}


.heading {
    text-align: center;
    text-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

.card:hover {
    background-color: #343a40 ;
    transition: all 1s ease;

}

.card > img {
    width: 140px !important;
    height: 225px !important;
    margin: 20px auto;

}

.card-body {
    background-color: #f5f2f2d3;
    padding: 2.25rem !important;
}


.card-title {
    text-align: center;
    margin-top: -30px;
}

.card-text {
    text-align: center;
}




.btn-primary {
    background-color: #343a40 !important;
    border: 0px !important;
    width: 100%;
    font-weight: bold !important;
    margin-bottom: 7px !important;
}

.btn-primary:hover {
    color: #343a40 !important;
    background-color: white !important;
}

.viewmore {
    text-align: center;
    margin: 20px;
}

.viewmore a {
    margin-top: 15px;
    border: 1px solid #343a40;
    background-color:#343a40 ;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    box-shadow: 10px 10px 10px gray;

}




a:hover {
    color: white !important;
}

.footer {
    background-color: #343a40;
    width: 100%;
    height: 45px;
}

.footer p {
    color: white;
    font-size: 14px;  
    margin: 10px auto;
}

.bring-top {
    background:#343a40;
    color: white;
    bottom: 20px;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    border-radius: 50px;
}

.bring-top i:hover {
    color: white;
}

.aboutus  {
    margin-bottom: 174px ;
    text-align: justify;
    font-size: 16px ;
}

.contact-details {
    color: #343a40;
    margin-bottom: 77px;
    margin-top: 50px;
    font-size: 20px;
}


.contact-details ul {
list-style-type: none;
margin-top: 5px;
padding-left: 0px;
margin-left: 0px;
text-align: justify;
}

.contact-details li {

margin: 0px;
padding: 0px 30px 10px 0px; 
}

.contact-details i {
margin-right: 7px;
color: #343a40;
font-size: 20px;
}

.contact-details h4 {
color: #343a40;
margin-top: 200px;
margin-bottom: 10px;
padding-bottom: 7px;
border-bottom: 1px solid #343a40;
font-weight: 600;
line-height: 1.42857143;
font-size: 24px;
}

.contact-details a i {
border-radius: 33%;
background-color: white;
box-shadow:5px 5px 5px gray ;
padding: 10px;
color:  #343a40;
font-size: 20px;
margin-right: -5px;
}

.instagram a i:hover {
    background-image: linear-gradient(#405DE6 ,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
    color: white;
}

.facebook a i:hover {
    background-image: linear-gradient(#4267B2,#4267B2);
    color: white;
}

.twitter a i:hover {
    background-image: linear-gradient(#1DA1F2,#1DA1F2);
    color: white;
}

.login {
    margin-top: 100px;
    margin-bottom:261px;
}

.register {
    margin-top: 100px;
    margin-bottom:261px ;
    margin-left: 60px;
}


.login,.register > h2 {
    text-align: left ;
    text-shadow: 10px 10px 10px gray;
    margin-bottom: 10px;
}

.login,.register > p {
    font-size: 14px;
}

.form-group {
    margin-top: 30px;
    width: 70%;
    font-weight: bold;
}

.form-control:focus {
    color: #343a40 !important;
    border-color: #fff !important;
    box-shadow: 0 0 0 0.1rem #fff !important;

}


.btn-primary:focus {
    box-shadow: 0 0 0 0.1rem #343a40 !important;
}


.login input {
    border-top-style: hidden !important ;
    border-right-style: hidden !important ;
    border-left-style: hidden !important ;
    border-bottom-style: groove !important ;
    border-radius: 0% !important;
}




@media only screen and (max-width: 400px) {
    .register,.login {
        margin-left: 10px !important;
    }

}

@media only screen and (max-width: 768px) {
    .offer1, .offer2, .offer3, .offer4 {
        width: 100%;
        border-radius: 0px;
    }

    .register {
        margin-left: 20px;
    }

    .dropdown-toggle::after {
        float: right;
        margin-top: 8px;

    }

    .defaultbutton a {
        padding-left: 10px  !important;

    }

    .wbutton {
        padding-left: 7px  !important;

    }

}

 

@media only screen and (max-width: 1024px) {
    .card-title {
       font-size: 15px;
    }

    .card-text {
        font-size: 13px;
    }

    .navbar-nav {
        margin-left: 0px;
       }

       .defaultbutton {
           margin-left: 0px;
       }


}







    